*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* color: #333; */
  font-family: Roboto, sans-serif;
}
body{
  background-image: url(/Backgoundimages/black-frame-with-copy-space-top-view.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* For Chrome, Safari, and newer versions of Edge */
::-webkit-scrollbar {
  width: .5rem; /* width of the scrollbar */
}

::-webkit-scrollbar-track {
  background-color: #ede3f3; /* color of the track */
  border-top: 1.5rem solid #000000;
  border-bottom: 1.5rem solid #000000;
}

::-webkit-scrollbar-thumb {
  background-color: #000000; /* color of the thumb */
  border-radius: .1rem; /* roundness of the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #b768f7; /* color of the thumb on hover */
}

/* header style sheet */
.header{
  height: 5rem;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  background-color: #000000;
  padding: 1rem;
  border-radius: .5rem;
  position: fixed;
  top: 2rem;
  left: 0;
  right: 0;
  z-index: 100;
}
.logo{
  color: rgb(245, 228, 243);
  width: 30%;
  text-align: center;
  letter-spacing: .2rem;
}
.logo span:nth-child(1){
  color: #ff0303;
  font-size: 2rem;
}
.logo span:nth-child(2){
  font-size: 2rem;
}
.scrolled{
  width: 100%;
  border-radius: 0;
  position: fixed;
  top: -100%;
  left: 0;
  right: 0;
  transition: .5s linear;
  animation: dropheader .5s ease-out forwards;
}
@keyframes dropheader {
  0%{top: -20%; opacity: 0; width: 100%;}
  50%{opacity: .5;}
  100%{top: 0;}
}
.header ul{
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header ul li{
  list-style: none;
}
.header ul li a{
  color: rgb(245, 228, 243);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 900;
  position: relative;
}
.header ul li a::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  border-radius: 2rem;
  background-color: #ff0303;
  transform: scale(0);
  transform-origin: left bottom;
  transition: .2s linear;
}
.header ul li a:hover::before{
  transform: scale(1);
}
.header .scrolled ul li a{
  color: #f4f4f4;
}

.ham-menu{
  height: 3rem;
  width: 3rem;
  position: relative;
  cursor: pointer;
  display: none;
}
.ham-menu span{
  height: .4rem;
  width: 100%;
  background-color: #ff0303;
  border-radius: .5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .5s ease;
}
.ham-menu span:nth-child(1){
  top: 25%;
}
.ham-menu span:nth-child(3){
  top: 75%;
}
.ham-menu.clicked span:nth-child(1){
  top: 50%;
  transform:translate(-50%, -50%) rotate(45deg);
}
.ham-menu.clicked span:nth-child(2){
  opacity: 0;
}
.ham-menu.clicked span:nth-child(3){
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

@media screen and  (max-width: 700px) {
  body{
    padding-top: 2em;
    background-image: none;
    background-color: #2b2a2a;
  }
  .header{
    width: 100%;
    position: relative;
    justify-content: space-between;
    position: fixed;
    top: 0;
    border-radius: 0;
    z-index: 100;
  }
  .header ul{
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #000000;
    font-size: 5px;
    position: absolute;
    right: -100%;
    top: 50%;
    width: 50%;
    height: 100vh;
    transition: .5s linear;
  }
  .header ul li{
    margin: 2.5rem auto;
  }
  .sidebar.clickedul{
    right: 0;
  }
  .ham-menu{
    display: block;
  }
  #home{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  #home .home-img{
    width: 80%;
  }

  #home .home-bio{
    width: 80%;
    padding: 2em;
  }
  .home-bio .name-banner{
    font-size: 2em;
    line-height: 1.5em;
  }
  .home-bio .bio-text{
    font-size: 1em;
  }
}

/* sections */
#home{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-bio{
  height: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  color: #ddd;
  border: 2px solid coral;
  padding: 5em;
}
.home-img{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  border: 2px solid pink;
}
.home-img img{
  height: 100%;
  width: 50%;
  object-fit: cover;
  filter: brightness(0.8);
  opacity: 0.9;
  box-shadow: -5px 5px 10px #888888;
  border-radius: 1rem;
  /* transform: translatey(-50px) rotate(-20deg) translateX(-150px); */
}
.name-banner{
  font-size: 3em;
  font-weight: 900;
  line-height: 6rem;
}
.name-banner span{
  color: #ff0303;
}
.bio-text{
  font-size: 1.5rem;
}
.bio-text span{
  font-weight: 900;
}
/* services section */
#services{
  height: 80vh;
  width: 100%;
  background-color: #000000;
}
#projects{
  height: 100vh;
  width: 100%;
}
/* #about{
  height: 80vh;
  width: 100%;
}
#contact{
  height: 100vh;
  width: 100%;
} */ 